section.main__checkboxes
  h2.text__heading Расскажите о себе чекбоксами
  p.text__note Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. (пункт/пункт/пункт - пункты в которых несколько технологий, оставьте только те которыми владеете)
  ul.checkboxes
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="BEM-OOCSS" checked)
      label.checkboxes__label(for="BEM-OOCSS") БЭМ/OOCSS
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="Pug-Jade" checked)
      label.checkboxes__label(for="Pug-Jade") Pug (Jade)
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="Stylus-LESS-SASS" checked)
      label.checkboxes__label(for="Stylus-LESS-SASS") Stylus/LESS/SASS
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="SVG" checked)
      label.checkboxes__label(for="SVG") Работаю с SVG
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="semantic" checked)
      label.checkboxes__label(for="semantic") Верстаю семантично
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="A11Y" checked)
      label.checkboxes__label(for="A11Y") Accessibility (A11Y)
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="Vanilla" checked)
      label.checkboxes__label(for="Vanilla") ES2015/ES2016
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="Gulp-GRUNT" checked)
      label.checkboxes__label(for="Gulp-GRUNT") Gulp/GRUNT
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="Webpack")
      label.checkboxes__label(for="Webpack") Webpack
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="WebGL")
      label.checkboxes__label(for="WebGL") Дружу с WebGL
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="jQuery" checked)
      label.checkboxes__label(for="jQuery") jQuery
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="Angular")
      label.checkboxes__label(for="Angular") Знаю/изучаю Angular
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="React" checked)
      label.checkboxes__label(for="React") Знаю/изучаю React
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="Node" checked)
      label.checkboxes__label(for="Node") Знаю/изучаю Node.js
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="wordpress")
      label.checkboxes__label(for="wordpress") Я знаю Wordpress
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="yii2")
      label.checkboxes__label(for="yii2") Я знаю Yii2
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="pixel-perfect" checked)
      label.checkboxes__label(for="pixel-perfect") Верстаю Pixel perfect
    li.checkboxes__item
      input.checkboxes__input.visually-hidden(type="checkbox" id="online" checked)
      label.checkboxes__label(for="online") Всегда в сети онлайн
    li.checkboxes__item.checkboxes__item--last
      input.checkboxes__input.visually-hidden(type="checkbox" id="punctual" checked)
      label.checkboxes__label(for="punctual") Я пунктуален
    li.checkboxes__item.checkboxes__item--last
      input.checkboxes__input.visually-hidden(type="checkbox" id="lazy")
      label.checkboxes__label(for="lazy") Я ленивый(-ая)
