header.header
  div.header__wrap
    a.logo(href="#")
      span.logo__main ONE WEB
      br
      span.logo__sub Creative studio
    picture
      source(srcset="img/stamp.webp" type="image/webp")
      img.header__stamp(src="img/stamp.png" alt="Штамп Секретно, заполненно собственноручно")
  picture
    source(srcset="img/delo.webp" type="image/webp")
    img.header__file(src="img/delo.png" alt="Дело")
