section.js-level
  h2.js-level__title Уровень владения JavaScript
  div.js-level__scale
    div.js-level__range-wrap
      input.js-level__range(type="range" step="1" min="0" max="100" value="49" tabindex="-1")
    ul.level-list
      li.level-list__item Не владею
      li.level-list__item Использую готовые решения
      li.level-list__item Использую готовые решения и умею их переделывать
      li.level-list__item Пишу сложный JS с нуля

