section.main__personal
  h2.visually-hidden Контактные данные
  label.text-field Полное ФИО
    input.text-field__input(value="Норпулатов Достон Гофурович")
  label.text-field Год рождения
    input.text-field__input(value="2002")
  label.text-field Место жительства
    input.text-field__input(value="г. Джизак, Узбекистан")
  label.text-field Телефон/Телеграм
    input.text-field__input(value="+998 91 565-39-25")
  label.text-field Почта
    input.text-field__input(value="norpulatovdoston@gmail.com")
